<html lang="pt-br">
  <head>
    <title>Zoo Site</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <header>
      <nav class="teal">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">Logo</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/specie/create">Nova Espécie</a></li>
            <li><a href="/specie/list/1">Espécies</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">
      <%- content %>
    </main>
    <footer class="page-footer teal lighten-1">
      <div class="footer-copyright">
            <div class="container">
              © 2016 Copyright
            </div>
          </div>
    </footer>

    <script src="/js/jquery-3.1.0.min.js"></script>
    <script src="/js/materialize.min.js"></script>

    <script>
      $(document).ready(function() {
          $('select').material_select();
          $("select[required]").css({display: "inline", height: 0, padding: 0, width: 0});
      });
    </script>

 </body>
</html>