<html lang="pt-br">
  <head>
    <title>Zoo Site</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="/css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body style="background-image: url('https://www.xmple.com/wallpaper/linear-white-gradient-blue-1920x1080-c2-afeeee-f5f5f5-a-165-f-14.svg')">
    <main class="container">
      <%- content %>
    </main>

    <script src="/js/jquery-3.1.0.min.js"></script>
    <script src="/js/materialize.min.js"></script>

 </body>
</html>