<div class="row  margin-top">
    <h5 class="center-align">Cadastro de Espécie</h5>
    <form action="/specie" name="specieform" method="POST" class="col s12" enctype="multipart/form-data">

        <div class="row">
            <div class="input-field col s6">
                <input type="text" name="popularName" class="validate" maxlength="100" required>
                <label for="popularName" data-error="Nome popular é obrigatório" data-success="">Nome Popular</label>
            </div>
            <div class="input-field col s6">
                <input type="text" name="scientificName" class="validate" maxlength="100" required>
                <label for="scientificName" data-error="Nome científico é obrigatório" data-success="">Nome Científico</label>
            </div>
        </div>

        <div class="row">

            <div class="input-field col s3">
                <select name="classification" required>
                    <option value="" disabled selected>Escolha uma opção</option>
                    <option value="Peixes">Peixes</option>
                    <option value="Anfíbios">Anfíbios</option>
                    <option value="Répteis">Répteis</option>
                    <option value="Aves">Aves</option>
                    <option value="Mamíferos">Mamíferos</option>
                    <option value="Insetos">Insetos</option>
                </select>
                <label for="classification">Classificação</label>
            </div>

            <div class="input-field col s3">
                <select name="habit" required>
                    <option value="" disabled selected>Escolha uma opção</option>
                    <option value="Diurno">Diurno</option>
                    <option value="Noturno">Noturno</option>
                </select>
                <label for="habit">Hábito</label>
            </div>

            <div class="input-field col s3">
                <select name="typeFeed" required>
                    <option value="" disabled selected>Escolha uma opção</option>
                    <option value="Herbívoros">Herbívoros</option>
                    <option value="Carnívoros">Carnívoros</option>
                    <option value="Onívoros">Onívoros</option>
                    <option value="Detritívoros">Detritívoros</option>
                </select>
                <label for="typeFeed">Tipo de Alimentação</label>
            </div>

            <div class="input-field col s3">
                <select name="instictionThreat" required>
                    <option value="" disabled selected>Escolha uma opção</option>
                    <option value="Pouco preocupante">Pouco preocupante</option>
                    <option value="Quase ameaçada">Quase ameaçada</option>
                    <option value="Vulnerável">Vulnerável</option>
                    <option value="Em perigo">Em perigo</option>
                    <option value="Criticamente em perigo">Criticamente em perigo</option>
                    <option value="Extinta na natureza">Extinta na natureza</option>
                    <option value="Extinto">Extinto</option>
                </select>
                <label for="instictionThreat">Nível de extinção</label>
            </div>

        </div>

        <div class="row">
            <div class="input-field col s6">
                <textarea name="weight" class="materialize-textarea validate" required></textarea>
                <label for="weight">Características em relação ao peso</label>
            </div>
            <div class="input-field col s6">
                <textarea name="feed" class="materialize-textarea validate" required></textarea>
                <label for="feed">Características da alimentação</label>
            </div>
        </div>
            
        <div class="row">
            <div class="input-field col s6">
                <textarea name="habitat" class="materialize-textarea validate" required></textarea>
                <label for="habitat">Características do habitat</label>
            </div>
            <div class="input-field col s6">
                <textarea name="interistingFacts" name="interistingFacts" class="materialize-textarea validate" required></textarea>
                <label for="interistingFacts">Fatos Interessantes</label>
            </div>
        </div>

        <div class="row">
            <div class="file-field input-field">
                <div class="btn">
                    <span>Imagem</span>
                    <input type="file" name="image" required>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        </div>

        <div class="row">
            <button class="btn waves-effect waves-light" type="submit">Salvar
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>